

.content {
font-size: 30px;

}


.button {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: auto;

}
h1{
  color: white;
}

p1 {
  color: white;
  font-size: 30px;
  text-align: left;
  padding-right: 60px;

}


ul {
  background-color: #D2B48C;
}



.select {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
}

.card-text {
  font-size: 15px;
  color: white;
  height: 100px;
  background: #6B8E23;

}

.stats {
  list-style: none;

}

/* Style the video: 100% width and height to cover the entire window */

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -9999;
}
.row {
  background-color: black;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

