body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: auto;

}

p1 {
  color: white;
 
  text-align: left;
  padding-right: 60px;

}


ul {
  background-color: #D2B48C;
}


.select {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
}

.playercard{

  color: white;
  background: #613127;
  height:100px;
}

h4#regplayertitle,#pcTitle {
  background-color: #dcdcdc21;
  color: whitesmoke;
}

.moves-container
{
  background-color:#ffffff8f;
}

.characternameblock
{
background-color: #b7a28b;
list-style: none;
padding:0px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -999;
}
