

.content {
font-size: 30px;

}


.button {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: auto;

}

p1 {
  color: white;
  font-size: 30px;
  text-align: left;
  padding-right: 60px;

}


ul {
  background-color: #D2B48C;
}

body {
  background-image: url("Bthrone.jpg");

}

.select {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
}

.playercard{

  color: white;
  background: #6B8E23;
  height:auto;
}

.stats {
  list-style: none;



}
